# Ignore environment variables
.env

# Ignore Docker build files
docker-compose.yml
Dockerfile
.dockerignore

# Ignore local virtual environments
env/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Django database & migrations
*/migrations/*
!*/migrations/__init__.py

# Ignore media and static files
/media/
staticfiles/
